<!-- <div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>
    <div cdkDropList [cdkDropListData]="Playing11cricketers" class="example-list" cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of Playing11cricketers" cdkDrag>{{item.Name}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>
    <div cdkDropList [cdkDropListData]="Restcricketers" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of Restcricketers" cdkDrag>{{item.Name}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Shopping basket</h2>
    <div
      cdkDropList
      [cdkDropListData]="basket"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of basket" cdkDrag>{{item.Name}}</div>
    </div>
  </div>
</div> -->

<div class="drop-list" cdkDropList [class.item-dragging]="dragging" (cdkDropListDropped)="droppedIntoList($event)">
  <div *ngFor="let item of items; let index = index" class="item" [class.selected]="isSelected(index)" cdkDrag
    (cdkDragStarted)="dragStarted($event, index)" (cdkDragEnded)="dragEnded()" (cdkDragDropped)="dropped($event)"
    (click)="select($event, index)">
    {{item}}
  </div>
</div>
